header {
   background-color: #FF8243;
}
footer {
   background-color: #E1523D;
}
.title-bar {
  background-color: #AD655F;
}
#wrap {
	background-color: #4C2F27;
}
.submenu.menu.vertical {
	background-color: #C51D34;
}
.row.expanded.callout.secondary {
	background-color: #646B63;
}